@charset "UTF-8";

body{
    background-color: rgba(0, 204, 255, 0.582);
    text-align: center;
    font: normal 1.1em Arial;

}

header {
    color: black;
}

section {
    background-color: rgba(255, 255, 255, 0.815);
    border-radius: 15px;
    padding: 15px;
    width: 450px;
    margin: auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.082);
}
 
footer {
    color: black;
    font-style: italic;
}

/*margin-top: 30px;*/